// .parallax-container {
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     overflow-y: scroll;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     scroll-snap-type: y mandatory;
//     -ms-overflow-style: none;  /* Internet Explorer 10+ */
//     scrollbar-width: none;  /* Firefox */
//   }
  
//   .card {
//     position: absolute;
//     width: 60%;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-size: 2rem;
//     background: transparent;
//     transition: transform 0.5s ease, opacity 0.5s ease;
//     opacity: 0;
//     z-index: 1;
//     padding: 20px;
//     box-sizing: border-box;
//     border: none;
//     transform: translateY(100%);
//   }
  
//   .card.active {
//     opacity: 1;
//     transform: translateY(0);
//     z-index: 2;
//   }
  
//   .card:nth-child(1).active {
//     z-index: 3;
//   }
  
//   .card:nth-child(2).active {
//     z-index: 2;
//   }
  
//   .card:nth-child(3).active {
//     z-index: 1;
//   }
  
//   .card-header {
//     width: 100%;
//     font-size: 2.5rem;
//     margin-bottom: 0px;
//     font-weight: bold;
//     text-align: center;
//     padding: 10px;
//   }
  
//   .card-content {
//     width: 100%;
//     font-size: 1.5rem;
//     padding: 20px;
//     box-sizing: border-box;
//     border: 2px solid;
//     text-align: center;
//   }
  
//   /* Specific card header and border colors */
//   .card:nth-child(1) .card-header {
//     background: #ff6f61;
//   }
  
//   .card:nth-child(1) .card-content {
//     border-color: #ff6f61;
//   }
  
//   .card:nth-child(2) .card-header {
//     background: #6b5b95;
//   }
  
//   .card:nth-child(2) .card-content {
//     border-color: #6b5b95;
//   }
  
//   .card:nth-child(3) .card-header {
//     background: #88b04b;
//   }
  
//   .card:nth-child(3) .card-content {
//     border-color: #88b04b;
//   }
  

.scroll-container {
  width: 100%;
  height: 300vh;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 100vh; /* Adjust this height to ensure enough scrolling space */
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  opacity: 1.0;
  padding: 5px;
  width: 80%;
  margin: 5px;
  border-radius: 2rem;
  transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.card.expanded {
  transform: translateX(-50%) scale(1.1);
}

.card-header {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background-color: #3A006E;
  color: white;
}

.card-content {
  width: 100%;
  font-size: 1.5rem;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid;
  text-align: center;
  border-color: #3A006E;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.card-header:first-child {
  border-radius: 1.5rem 1.5rem 0 0;
}

.display-1 {
  font-family: 'Bruno Ace SC';
}

.display-7 {
  font-family: 'Montserrat Alternates';
}

.card.active .collapse {
  display: block !important;
}

/* Adjust font size for smaller screens (up to 576px) sm*/
@media (max-width: 576px) {
  .timeline-item .content {
    font-size: 14px;
  }
  .card-content.display-1{
    font-size: 35px;
  }
  .card-content.display-7{
    font-size: 25px;
  }
}