.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding-left: 4.2vh;
}


.display-1 {
  font-family: 'Bruno Ace SC';
  margin-bottom: 20px;
}

.display-4 {
  font-family: 'Montserrat Alternates';
}

.content {
  flex: 1;
}

.content h5 {
  font-size: 1rem;
  font-family: 'Montserrat Alternates';
  color: gray;
  margin-bottom: 30px;
}

.content p {
  line-height: 1.6;
}
.project_images {
  width: 100%;
  background-color: rgb(10, 25, 41);
  z-index: -1!important;
}
