.project .jumbotron {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0px;
}

.project-content {
    margin-left: 9vh;
}

.project_images {
    width: 100%;
    background-color: rgb(10, 25, 41);
}