
.project .jumbotron {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0px;
}

.project-content {
    margin-left: 9vh;
}

.project_images {
    width: 100%;
    background-color: rgb(10, 25, 41);
}
.project-card{
  margin-bottom: 5%;
  border: 10px solid black!important;
  border-right: 0px !important;
  border-left: 0px !important;
}