.jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0px;
}
.project-content{
    margin-left: 9vh;
}