.jumbotron{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    padding-top: 5px;
    padding-bottom: 5px;
}
.about_me{
    text-align: center;
    
    color: #160029;
}
.about_me h1{
    font-family: 'Sail';
}
.about_me_content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 5px rgba(58, 0, 110, 0.4);
    border-radius: 1.7rem;
    background-color: transparent!important;
    backdrop-filter: blur(8px);
    padding: 1rem;
    font-size: 1.3rem;
}

.skills{
    height: 100vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.jumbotron_title{
    font-family: 'Bruno Ace SC';
    text-align: center;
    margin-top: 4.5rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #3A006E;
    font-weight:bold;
}