.word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .word {
    margin: 5px;
    font-size: 12px;
    transition: font-size 0.3s, font-weight 0.3s;
  }
  
  .word:hover {
    font-size: 20px;
    font-weight: bold;
  }