.wordcloud {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  width: 100%;
  height: 100%;
}
.wordcloud svg {
  cursor: default;
}

.wordcloud textarea {
  min-height: 100px;
}

.wordEffect {
  transition: font-size 0.3s ease;
}

.wordEffect:hover {
  font-size: 150%;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  
}

/* Add the scale animation */
.scaleAnimation {
  transition: font-size 0.7s ease;
  font-size: 150%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}