.footer {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #2FC363;
    font-family: "Audiowide";
    font-size: 20px;
    letter-spacing: 0.75rem;
    position: relative; /* Change this to relative or other suitable value */
    z-index: 2; 
  }
  
  .footer p {
    margin: 0;
  }
  